html {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #FF416C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #fff;

	ul {
		padding-top: 2rem;
		display: block;
		text-align: center;

		li {
			display: inline-block;
			list-style: none;
			text-decoration: underline;

			&:nth-last-child(-n+3) {
				padding-left: 1rem;
			}

			a {
				text-decoration: none;
				color: #fff;

				&:hover {
					color: #313131;
				}
			}
		}
	}
}
