$az-primary: #eeeeee;
$az-background: #393e47;
$az-background--dark: #222831;
$az-fg-primary: #00adb5;

body, html {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    color: $az-primary;
    justify-content: center;
    padding: 1rem;
    background: linear-gradient(45deg, $az-background, $az-background--dark);
    height: 100%;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.75rem;

    .main {
        justify-content: center;
        flex: .5;
    }

    .footer {
        justify-content: center;
    }

    .nav {
        display: flex;
        flex-direction: row;
        border-bottom: 0.15rem solid $az-fg-primary;
        align-self: flex-start;
        justify-content: center;

        .nav__link {
            text-decoration: none;
            color: $az-primary;
            padding: 1rem;
            border: 0.15rem solid $az-primary;
            border-radius: 0.75rem;
            margin: 0.75rem;

            &:hover{
                color: $az-fg-primary;
                border: 0.15rem solid $az-fg-primary;
            }
        }

        .nav__link--fixed {
            margin-right: auto;
        }
    }
}