@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	src: local(".SFNSText"), local(".HelveticaNeueDeskInterface"),
		local(".LucidaGrandeUI"), local("Ubuntu"), local("Segoe UI"),
		local("Roboto"), local("DroidSans"), local("Tahoma");
}

html,
body {
	font-family: system;
	color: #f1f1f1;
	margin: 0;
}

a {
	color: #f1f1f1;
	text-decoration: none;
}

/**
Quick hack to vertically align column content .avatar
**/
.col-avatar {
	margin-top: auto;
	margin-bottom: auto;
}

main {
	z-index: 1;
}

main > .container {
	padding-top: 1.5rem;
}
