$az-primary: #FF7676;
$az-background: #fff;
$az-background--dark: #eee;
$az-fg-primary: #C50A0A;

body, html {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    color: $az-primary;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    // background: linear-gradient(45deg, #fff, #fff);
    height: 100%;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .nav {
        display: flex;
        flex-direction: row;
        border-bottom: 0.15rem solid $az-fg-primary;
        align-self: flex-start;
        justify-content: center;
        width: 100%;

        .nav__link {
            text-decoration: none;
            color: $az-primary;
            padding: 1rem;
            border: 0.15rem solid $az-primary;
            border-radius: 0.75rem;
            margin: 0.75rem;

            &:hover{
                color: #fff;
                background-color: $az-primary;
                border: 0.15rem solid $az-background--dark;
            }
        }

        .nav__signature{
            margin-top: 12px;
        }

        .nav__link--fixed {
            margin-right: auto;
        }
    }

    .main {
        justify-content: center;
        flex: .5;
        
        .container {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }

        .header--lg {
            font-size: 96px;
        }

        .header--md {
            font-size: 56px;
        }

        .blockquote {
            font-size: 36px;
            font-weight: 500;
            vertical-align: middle;
            background-color: #efefef;
            color: #000;
            margin: 0;
            padding: 1rem;
            border-left: 0.75rem solid $az-primary;
        }

        .text {
            color: #000;
            text-align: left;
            line-height: 1.5rem;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $az-primary;
    text-align: center;
    color: #fff;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-top: 0.5rem solid $az-fg-primary;

    .footer__wrapper{
        flex-direction: row;

        .footer__link{
            color: #fff;
            padding: 0.5rem;
        }
    }
    
}